.hot-trend {
  img {
    width: 100%;
  }
}

.homepage {
  .container {
    .category-section {
      position: relative;

      a {
        position: absolute;
        right: 15px;
        top: 7px;
        font-size: 16px;
        color: gray;

        &:hover {
          color: #f15b67;
        }

        img {
          width: 12%;
          padding-left: 5px;
          padding-bottom: 4px;
        }
      }
    }

    .category-main {
      a {
        width: 100%;
        padding: 0 9px;
      }

      .product-image {
        img {
          width: 100%;
        }
      }
    }
  }
}