@import '~assets/styles/mixin';

.header {

  .header-nav {
    display: none;

    @media(max-width:991px) {
      display: block;

      img {
        width: 30px !important;
        margin-right: 10px;
      }
    }
  }

  background: #ffffff;
  padding: 2rem 0 6rem;
  position: relative;

  .header-wap {
    .logo {

      img {
        width: 150px;
      }

      @media(max-width:991px) {
        .logo {
          img {
            width: 50px !important;
          }
        }
      }
    }
  }

  .header-location {
    .location {
      background: #f4f4f4;
      padding: 0 3px 3px 3px;
      font-family: 'Times New Roman', Times, serif;

      p {
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
      }
    }

    @media(max-width:991px) {
      .location {
        position: absolute;
        top: 7px;
        width: 100%;
      }

      p {
        font-size: 14px !important;

      }
    }
  }

  .header-search {
    img {
      width: 20px;
      margin-right: 5px;
    }

    .search-item {
      background: #f4f4f4;
      width: 100%;
      padding: 10px 20px;
      border-radius: 20px;
    }

    @media(max-width:991px) {
      display: none !important;
    }
  }

  .header-authen {
    text-transform: uppercase;

    span {
      margin: 0 5px;
    }

    @media(max-width:991px) {
      display: none !important;
    }
  }

  .header-cart {
    padding-right: 0;

    .search-mobile {
      display: none;
    }

    img {
      width: 34px;
    }

    span {
      font-size: 15px;
      color: red;
    }

    @media(max-width:991px) {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;

      .search-mobile {
        display: block;
        width: 25px;
        margin-right: 20px;
      }

      .cart {
        img {
          width: 25px;
        }
      }

    }
  }


  .menu {
    @media(max-width:991px) {
      display: none !important;
    }

    position: absolute;
    width: 100%;
    top: 75%;
    background: #ffffff;
    z-index: 100;
    transition: .3s ease;

    &.active {
      position: fixed;
      padding: 15px;
      top: 0;
      left: 0;
      margin: 0 auto;
      @include box-shadow;
      animation: slideDown .5s linear forwards;
      z-index: 100;

      @keyframes slideDown {
        0% {
          top: -15%;
        }

        100% {
          top: 0;
        }
      }
    }


    .section-wrap {
      padding: 0;

      a {
        text-transform: uppercase;

        &:hover {
          transition: all 0.7s;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #f15b67;
            transition: all 0.5s;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: transparent;
        }
      }
    }
  }

  @media(max-width:991px) {
    padding: 2rem 0;

  }
}